# =====================
# Environment
# =====================
.env

# =====================
# Node
# =====================
node_modules/

# =====================
# Logs
# =====================
logs/
*.log
npm-debug.log*

# =====================
# Build artifacts
# =====================
dist/
build/

# =====================
# Drizzle
# =====================
drizzle/
